*,
*::after,
*::before {
	box-sizing: border-box;
	/* border: 1px solid black; */
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-size: 18px;
}

.logo a {
	text-decoration: none;
	color: white;
}

img {
	width: 100%;
	padding: 0 5rem;
}

.header--bg,
.hero--bg {
	background-color: #085fd8;
	color: white;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
}

.header {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.nav__list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.nav__item {
	margin: 0 2rem;
}

.btn--donate {
	border: 2px solid white;
	border-radius: 3px;
	padding: 0.5em 1.5em;
}

.btn--donate:hover {
	cursor: pointer;
	background-color: white;
	color: #085fd8;
	transition: all 0.5s;
}

.hero {
	height: 60vh;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.col {
	width: 100%;
}

.hero__title {
	font-size: 2.5rem;
}
.hero__body {
	max-width: 500px;
}

.back-btn {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	background-color: #083575;
	color: white;
	box-shadow: 0px 4px 0px rgb(210, 214, 219);
}

.back-btn:hover {
	cursor: pointer;
}

.back-btn.hidden {
	display: none;
}

.back-btn__title {
	margin: 0;
}

.bi-arrow-left {
	color: white;
	font-size: 1.5rem;
}

.main-container {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.cards__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 20px;
}

.card {
	height: 200px;
	border: 1.5px solid rgb(210, 214, 219);
	border-radius: 3px;
	padding: 2rem;
	position: relative;
	box-shadow: 0px 2px 0px rgb(210, 214, 219);
}

.card.hidden {
	display: none;
}

.card::after {
	position: absolute;
	content: '';
	display: block;
	width: 0;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #085fd8;
	transition: width 0.2s ease-in-out;
}

.card:hover::after {
	width: 100%;
}

.card:hover {
	cursor: pointer;
	color: white;
	border: none;
	box-shadow: 0px 2px 0px #083575;
}

.card__title {
	font-family: syncopate;
}

.card__cta {
	text-decoration: none;
	color: inherit;
	font-size: 1rem;
	position: relative;
}

.disclaimer {
	font-size: 12px;
	/* max-width: 500px; */
	line-height: 1.5;
}

.footer-bg {
	background-color: #085fd8;
	color: white;
	padding: 3rem;
}

/* CALCULATOR GENERAL */

label {
	display: block;
	margin-top: 1rem;
}

input {
	padding: 0.5em;
	min-width: fit-content;
}

.input-tip {
	margin: 0;
	font-size: 12px;
}

.calc.header {
	display: block;
	text-align: center;
}

.calc.result {
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
}

.calc.row {
	display: flex;
}

.right-border {
	border-right: 1px solid black;
}

.left-border {
	border-left: 1px solid black;
}

.result__title {
	margin-top: 1rem;
	margin-bottom: 0;
}
.result__text {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 12px;
	font-weight: bold;
}

.calculator-btn {
	background-color: #083575;
	color: white;
	padding: 1em;
	margin-top: 1rem;
	width: fit-content;
}

.calculator-btn:hover {
	background-color: white;
	color: #083575;
	border: #083575 1px solid;
	cursor: pointer;
}

/* CALCULATOR 0 - investment fees*/
.fees-result {
	flex-basis: 100%;
	text-align: center;
}

/* UTILITY CLASSES */

.centered {
	max-width: fit-content;
	margin: 0 auto;
}

@media (min-width: 600px) {
	.cards__list {
		grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	}
}
